# Byte-compiled / optimized / DLL files
__pycache__/

# Ide
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

data/
data_pdadmin/

# Secrets
credentials/


# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
variables.tf
